@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
    color: white;
}

html{
    background-color: black;
}

nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    padding: 15px;
    background-color: #000000ea;

}

body .front{
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.front .container{
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
}

.front .container h1{
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 1px;
}

.front .container h1 span{
    color:#FFDEA8;
}

.front .container h2{
    color: white;
    opacity: 0.5;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.6;
    margin: 1px;
}



/* DEVELOPERS */

.developers{
    padding: 20px 0;
    background-color: white;
    background-image: url(images/bg-objects.png);
    background-size: contain;
}

.developers .title h1{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 5px 0 5px;
}

.developers .title h2{
    color: #00000060;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    padding: 0 5px 10px 5px;
}

.devTabs{
    text-align: center;
    margin: 10px 0;
}

.devs img{
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
}

.devs{
    width: 125px;
    display: inline-block;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
    margin: 10px;
}


.devs h1, h2{
    color: black;
    font-size: 12px;
}

.devTabs .devs h1{
    font-size: 10px;
    font-weight: 600;
    padding: 3px 12px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black;;
}

.devTabs .devs h2{
    font-size: 7px;
    text-transform: uppercase;
    opacity: 0.5;
}



/* EXPERTISE AND SERVICES */

.services{
    background-color: #101F29;
    padding: 20px;
    text-align: center;
}

.services .title h1{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 5px 0 5px;
}

.services .title h2{
    color: #ffffff60;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    padding: 0 5px 10px 5px;
}

.services-tabs{
    padding: 0 40px;
}

.services-tabs .tab{
    color: #101F29;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #7DF0C9;
}




/*  ABOUT US  */

.aboutUs{   
    background-color: white;
    background-image: url(images/bg-objects.png);
    padding: 20px;
    text-align: center;
}

.aboutUs .title h1{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 5px 0 5px;
}

.aboutUs .title h2{
    color: #00000060;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    padding: 0 5px 10px 5px;
}

.info{
    color: black;
    font-size: 10px;
    padding: 20px;
    background-color: #00000010;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}




/*  CONTACT US  */

.contactUs{   
    background-color: #0C5265;
    padding: 20px;
    text-align: center;
}

.contactUs .title h1{
    color: #A7FFE1;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 5px 0 5px;
}

.contactUs .title h1 span{
    font-size: 22px;
}

.contactUs .title h2{
    color: #ffffff60;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    padding: 0 5px 10px 5px;

    margin-bottom: 20px;
}

.contactUs .title h2::after{
    content: "";
    display: block;
    background: #A7FFE1;
    width: 200px;
    height: 1px;

    margin: auto;
    margin-top: 25px;
}



/* CONTACT FORM */

form input[type=text]{
    vertical-align: middle;
    width: 93%;
    padding: 10px 5px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

form #fname, #lname[type=text]{
    width: 40%;
    padding: 8px 8px;
    border-radius: 20px;
    margin: 5px;
}

input::placeholder{
    opacity: 0.65;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8px;
    font-weight: 600;
    color: rgb(36, 36, 36);
}

button{
    padding: 8px 20px;
    margin: 8px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 9px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: #A7FFE1;
}

.fa-chevron-right{
    margin-left: 10px;
    color: black;
}




/* FOOTER */

footer{
    background-color: #00212B;
    display: inline-flex;
    width: 100%;
}

footer img{
    height: 10px;
    padding: 5px;
    margin: 5px 10px;
}

footer h2{
    text-align: center;
    color: white;
    font-size: 6px;
    font-weight: 500;
    padding: 5px;
    margin: 6px 24px;
    opacity: 0.7;
}

footer .social .fab{
    font-size: 12px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.fa-twitter{
    left: 280px;
    padding: 6px;
    margin: 3px;
}

.fa-linkedin-in{
    margin: 3px;
    padding: 6px;
}